section{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'arial';
}

section img{
    min-height: 120px;
    max-height: 120px;
    min-width: 120px;
    max-width: 120px;
}

section p{
    margin-top: -1px;
    font-size: x-large;
}